@layer base {
  html {
    scroll-behavior: smooth;
  }
  .site {
    @apply flex flex-col min-h-screen;

    &-main {
      @apply flex-grow;
    }
  }

  img {
    max-width: 100%;
  }
  svg {
    @apply w-full;
  }

  pre {
    @apply bg-gray-100 p-2 rounded-lg text-[14px] text-gray-800;
  }

  hr {
    @apply my-6;
  }

  [x-cloak] {
    display: none;
  }

  .home {
    .section--hero.section--1 {
      @apply mt-[-105px];
      .hero__content {
        @apply pt-[168px] lg:pt-[264px];
      }
    }
  }
}
