@layer utilities {
  .break-container-right {
    margin-right: calc(50% - 50vw);
    @apply pr-0;
  }

  .break-container-left {
    margin-left: calc(50% - 50vw);
    @apply pl-0;
  }
  .break-container-both {
    margin-right: calc(50% - 50vw);
    margin-left: calc(50% - 50vw);
    @apply px-0;
  }
}
